@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oxygen:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration:none;
}
a:hover {
    color: black;
}
a:visited {
    color: black;
}
a:active {
    color: black;
}

.header_subjects {
    height: 74px;
    padding: 17px 250px;
}

.subjects_logo {
    display: inline-block;
    float: left;
    background-image: url("sous/Escape.svg");
    background-repeat: no-repeat;
    height: 26px;
    width: 92px;
}

.header_subjects_buttons {
    display: inline-block;
    float: right;
}

.button_header {
    font-family: "Oxygen", sans-serif;
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
}

.main_title_block {
    display: block;
    height: 286px;
    padding: 89px 250px;
}

.main_title_block_first_text {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    display: block;
    text-align: center;
    margin-top: -7px;
}

.main_title_block_second_text {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: block;
    text-align: center;
    color: black;
    opacity: 63%;
    margin-top: 20px;
}

.main_image {
    display: block;
    width: 100%;
}

.main_content {
    display: block;
    padding: 140px 240px 100px 240px;
}

.main_content_text {
    display: block;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    margin: 0 0 35px 0;
    color: #101315;
}

.footer_subjects {
    height: 89px;
    padding: 27px 240px;
}

.footer_subjects_buttons {
    display: inline-block;
    float: right;
}

.button_footer {
    font-family: "Oxygen", sans-serif;
    display: inline-block;
    background: none;
    color: black;
    padding: 10px 20px;
    border: none;
}

.footer_background {
    background-image: url("sous/footer_background.jpg");
    background-repeat: no-repeat;
}
