@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oxygen:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.buttons {
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 10px 20px;
}

.buttons > a {
    text-decoration: none;
    color: black;
}

/* разобраться что лучше делать padding или height */
.header_subjects {
    display: flex;
    padding: 17px 250px;
    justify-content: space-between;
}

.header_subjects_buttons {
    display: flex;
    width: 376px;
    justify-content: flex-end;
    color: black;
}

.main_title_block {
    padding-top: 89px;
    padding-bottom: 113px;
    text-align: center;
}

.main_title_block_first_text {
    font-family: Lora, serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    margin-top: -7px;
}

.main_title_block_two_text {
    font-family: Oxygen, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
    color: #2e2e2e;
}

.main_image {
    width: 100%;
}

.main_content {
    padding: 140px 240px 135px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.main_content_text {
    font-family: Oxygen, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    max-width: 960px;
}

.footer {
    background-image: url("sous/footer_background.jpg");
    background-size: 100%;
    background-position-y: center;
    display: flex;
    justify-content: center;
    height: 89px;
}

.footer_subjects {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0 240px;
    align-items: center;
    justify-content: space-between;
}

.footer_subjects_logo path {
    fill: #fff;
}

.footer_subjects_buttons {
    display: flex;

}

.footer_subjects_buttons a {
    color: white;
    opacity: 60%;
}