* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
    width: 100%;
    max-width: 960px;
    height: auto;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    width: 92px;
    height: 26px;
    margin: 4px 0;
}

.header__links-block {
    display: inline-block;
    float: right;
}

.header__link {
    font-family: "Oxygen", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(46, 46, 46);
    padding: 10px 20px;
}

.title {
    font-family: "Lora", serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 89px;
}

.description {
    font-family: "Oxygen", sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    opacity: 63%;
    margin-top: 20px;
    margin-bottom: 113px;
}

.article_image {
    width: 100%;
}

.main__text-block {
    font-family: "Oxygen", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    margin: 140px auto 135px auto;
    color: rgb(16, 19, 21);
}

.footer {
    background-color: rgba(35, 47, 56, 0.6);
    background-image: url("/source/pictures/footer_background.jpg");
    background-position: center;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    padding: 28px 240px;
    width: 100%;
    display: block;
}

.logo_inversion {
    display: inline-block;
    width: 92px;
    height: 26px;
    margin: 4px 0;
}

.navigation__links-block {
    display: inline-block;
    float: right;
}

.navigation__link {
    text-decoration: none;
    font-family: "Oxygen", sans-serif;
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 10px;
    text-align: right;
}









